$height: 30px;

img {
  display: block;
}

.xDcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.xDelement {
  height: auto;
}

.xDtextElement {
  flex: 1;
  line-height: $height;
  text-overflow: ellipsis;
  overflow: hidden;
}

.xDimageElement {
  flex-basis: $height;
}

.fileIcon {
  width: $height;
  height: $height;
}

.cancelIcon {
  width: $height/2;
  height: $height/2;
}
