<div class="container" fxLayout="row" fxLayoutAlign="center center" style="padding-top: 100px">

  <div fxFlex.xl="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%" fxLayout="column" style="padding: 10px;">
        <div class="mat-elevation-z1 formSection">
          <app-mal-downloader></app-mal-downloader>
        </div>
        <div class="mat-elevation-z1 formSection">
          <app-entry-form></app-entry-form>
        </div>
      </div>

      <div fxFlex="50%" fxLayout="column" style="padding: 10px;">
        <div class="mat-elevation-z1 formSection">
          <app-file-picker></app-file-picker>
        </div>
      </div>
    </div>
  </div>
</div>
